<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/jira.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<!-- Load d3.js -->
	<script src="https://d3js.org/d3.v4.js"></script>

	<!-- Color scale -->
	<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
	
</head>
<body>
	<div class="navBar">
		<div class="logoHolder">
			<img src="../img/logo.png">
			<span>JiraTree</span>
		</div>
	<div class="navigationBar">
		<div class="mainNav">
			<p class="cool-link"> Your Project Id: <span id = "p-id"> <%= project_uid %> </span></p>
		</div>
			
			<!-- <ul class="mainNav">
			<li class="cool-link"><a href="Index.html">Home</a></li>
			<li class="cool-link"><a href="Instructions.html">Projects</a></li>
			<li class="cool-link"><a href="#">Chats</a></li>
			<li class="cool-link"><a href="#">Calender</a></li>
			<li class="cool-link"><a href="#">Reports</a></li>
			</ul> -->
	</div>

	<div class="iconHolder">
		<div class="iconOne">
			<form method = "POST" class="form" action = '/logout'>
				<button> <img src="../img/logout.png"> </button>
			</form>
		</div>

		<div class="iconOne">
			
			<img src="../img/active.png">

		</div>

		<div class="iconOne">
			
			<img src="../img/profile-user.png">

		</div>

	</div>


	</div>



<div class="mainBody">
	
	<div class="mainBodyOne">

		
		<div class="mainBodyHolderOne">
			
			<div class = "headingTitle">
				<p>Sprints Progress
				</p>
				<a href="/createSprint/<%= project_uid %>">
					<span class="material-symbols-outlined icon plus">
						add
					</span>
				</a> 
			</div>
            

			<div class="mainSprintHolder">

                <% 
                for (let sprint of sprints) { 
                %>

				<div class="sprintOne">
					<p class="sprintHeading"> <%=sprint.sprint_id%></p>

					<p class="sprintHeadingOne"> <%=sprint.goal%></p>


					<form action="/action_page.php">

						<div class="mainItem">

                                    <% 
					            sprint_tasks_array = sprint_tasks[sprint.sprint_uid]
				                    %>
				                <% for (let task of sprint_tasks_array) { %>

						    <div class="item">
  						        <div class="itemText">

									<p>
										<a href="/task/<%=task.task_uid%>?&project_uid=<%=project_uid%>&update=False">
											<%=task.task_name%>
										</a>

									</p>
  						        </div>
  						    </div>
                            <% } %>
  						</div>
					</form>

				</div>

                <% } %>

			</div>


		</div>
		
		<div class="mainBodyHolderTwo">
			
			<div class="headingTitleOne" >
				<p>Backlog
				</p>
				<a href="/createTask/<%=project_uid %>">
                    <span class="material-symbols-outlined icon plus">
                        add
                    </span>
                </a> 
			
				<div class = "search">
				<form method = "POST" class="form example" action="/searchTasks/<%=project_uid%>">
  					<input type="text" id = "search" value = "<%=filterVal%>" placeholder="Filter Tasks.." name="search">
 					<button type="submit"><i class="fa fa-search"></i></button>
				</form>
				<a href="/dashboard/<%=project_uid%>"><p>reset</p></a>
				<div class="selectSearch">

				<form method = "POST" action="/searchTasks/<%=project_uid%>">
					<select name="statusFilter" class="dropdownOne" onchange="this.form.submit()">
						<option selected value="<%=statusFilter%>"><%=statusFilter%></option>
						<% for (let status_val of status) { %>
							<% if (status_val != statusFilter) { %>
    							<option value="<%=status_val%>"> <%=status_val%> </option>
							<% } %>
						<% }%>
					</select>
				</form>	

				<form method = "POST" action="/searchTasks/<%=project_uid%>">
					<select name="userFilter" class="dropdownTwo" onchange="this.form.submit()">
						<option selected value="<%=userFilter%>"><%=userFilter%></option>
						<% for (let user of allUsers) { %>
							<% if (user.user_uid != userFilterUser) { %>
    							<option value="<%=user.user_uid%>"> <%=user.name%> </option>
							<% } %>
						<% }%>
					</select>
				</form>	
					</div>
				</div>


				



				</div>

            <!-- add a new task button -->
               

			<table class="tableMain">
				
				<tr class="mainHeader">
					<td>Task Name</td>
					<td>Due Date</td>
					<td>Status</td>
					<td>User Assigned</td>
					<td>View Task</td>
				</tr>
            <% var i = 0 %>
            <% for(let task of tasks) { %>

				<tr class="contentHeader">
					
					<td class="oneTest">
						
						<div class="iconMain one">
							<img src="../img/programming.png">
							<span><p class="onetwo"><%=task.task_name%></p></span>
						</div>
					</td>
					<td><%=date.format(task.datetime, 'MMM DD YYYY')%></td>

                    <% if (task.status == "NOT STARTED") { %>
                    <td>

                        <div class="status o">

                        <span><%=task.status%></span>

                        </div>

                    </td>
                    <% } else if (task.status == "COMPLETED") {  %>
                        <td>

                            <div class="status t">

                                <span><%=task.status%></span>

                            </div>

                        </td>
                    <% } else { %>

                        <td>
                            <div class="status s">
                                <span><%=task.status%></span>
                            </div>
                        </td>

                    <% } %>


                   

					<td>
					    <%=users[i]%>
					</td>
					
					<td>
						<a style = "text-decoration: none;" href="/task/<%=task.task_uid%>?&project_uid=<%=project_uid%>&update=False"> View </a>
					</td>

                </tr>
                <% i += 1 %>
            <% } %>

			</table>

		</div>

		
	</div>


	<div class="mainBodyTwo">
		<!-- Create a div where the graph will take place, I say no -->
		<div>
			<table class="tableMain">
				
				<tr class="mainHeader">
					<td>Tasks Assigned To You: </td>
				</tr>
	
				<% for (let task of userTasks) { %>
					<tr class="contentHeader">
						<td>
							<%= task.task_name %>	
						</td>	
					</tr> 
				<% } %>
	
			</table>	
		</div>
			<table class="tableMain">

				<tr class="mainHeader">
					<td>Project Member List: </td>
				</tr>
				
				<%for (let user of project_users) {%>
					<tr class="contentHeader">
						<td>
							<%= user %>	
						</td>
					</tr>
				<% } %>
			</table>
		<div>

		</div>

	<!-- <div id="my_dataviz"></div> -->
	</div>


</div>

</body>
<script src="../js/charts.js"></script>

</html>